StudyOnline/StudyOnline/obj/
StudyOnline/StudyOnline.Common/obj/
StudyOnline/StudyOnline.Entities/obj/
StudyOnline/StudyOnline.Repository/obj/
StudyOnline/StudyOnline.Service/obj/
StudyOnline/StudyOnline.Tests/obj/
StudyOnline/StudyOnline.Common/bin/
StudyOnline/StudyOnline.Entities/bin/
StudyOnline/StudyOnline.Repository/bin/
StudyOnline/StudyOnline.Service/bin/
StudyOnline/StudyOnline.Tests/bin/
StudyOnline/StudyOnline/bin/
StudyOnline/StudyOnline.v12.suo
StudyOnline/StudyOnline.API/bin/
StudyOnline/StudyOnline.API/obj/