.navbar-inverse {
    background-image: -webkit-linear-gradient(left,#0667f8,#acf8ee);
}

.dv-loading {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .5;
}

.dv-loading .process {
    z-index: 2000;
    position: fixed;
    height: 10px;
    width: 10px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide {
    display: none!important;
}

.clear {
    clear: both;
}

.nav-buttom {
       background-image: -webkit-linear-gradient(left,#2e7de4,#88f4f2);
}

.nav-tile {
    margin-top: 10px;
   
}

.nav-title-front {
     margin-left: 95px;
      padding-top: 25px;
}
.nav-title-front #put {
    font-size: 14.04px;
  font-family: "Tahoma";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 1.282;
  /*-moz-transform: matrix( 1.27065703782073,0,0,1.28205266131312,0,0);
  -webkit-transform: matrix( 1.27065703782073,0,0,1.28205266131312,0,0);
  -ms-transform: matrix( 1.27065703782073,0,0,1.28205266131312,0,0);
  position: absolute;
  left: 518.978px;
  top: 51.46px;
  z-index: 60;*/
}

.nav-title-img {
    float: left;
}

.nav-title-front #point {
  font-size: 15.316px;
  font-family: "Tahoma";
  color: rgb( 255, 242, 0 );
  font-weight: bold;
  line-height: 1.175;
  /*-moz-transform: matrix( 1.16357912013167,0,0,1.17521493130929,0,0);
  -webkit-transform: matrix( 1.16357912013167,0,0,1.17521493130929,0,0);
  -ms-transform: matrix( 1.16357912013167,0,0,1.17521493130929,0,0);
  position: absolute;
  left: 488.972px;
  top: 75.684px;
  z-index: 61;*/
}


.nav-title-name {
    font-size: 31.01px;
  font-family: "Tahoma";
  color: rgb( 246, 243, 7 );
  font-weight: bold;
  line-height: 1.292;
    text-align: center;
}

.nav-header-left-avarta {
    font-size: 15.316px;
  font-family: "Tahoma";
  color: rgb( 253, 253, 250 );
  line-height: 3.175;
}

.nav-search {
    float: right;
    margin-top: 10px;
}

#boxLogin {
    width: 850px;
    margin: 50px auto;
    color: #fff;
}

.left {
    float: left;
    width: 475px;
}

.right {
    float: right;
    width: 325px;
    color: #000;
}

.llright {
    padding-top: 10px;
}

#boxLogin input[type='text'], #boxLogin input[type='password'] {
    width: 320px;
    height: 30px;
    padding-left: 3px;
    color: #000;
    font-size: 14px;
}

.but-orange {
    padding: 5px 15px;
    color: #fff;
    background: #ff7f00;
    height: 30px;
    border: 0;
    cursor: pointer;
}

.input_search {
    border: 0 none;
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    width: 350px;
}

.input_search {
    color: #5c5c5c;
}

input[type="submit"] {
    cursor: pointer;
}

.btn_search {
    border: 0 none;
    margin: 0;
    float: right;
    cursor: pointer;
}

.icon_search {
    background-position: -152px -2px;
    background-color: #FFF;
    height: 28px;
    width: 32px;
}

.icon {
    background-image: url(/images/bt-Search.png);
    display: block;
}

/*Home*/
ul.nav-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #b7d4fd;
    width: 100%;
}

ul.nav-menu>li {
    display: inline-block;
}

.menu-title {
      width: 277.5px;
    /*height: 60px;*/
}

.menu-title-img {
    float: left;
    margin: 5px;
    border-radius: 45px;
    background-color: white;
}

.menu-title-content {
    margin-left: 70px;
    height: 61px;
    line-height: 61px;
}

.menu-title-content span {
     font-size: 18px;
  font-family: "Tahoma";
  color: rgb( 13, 84, 142 );
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

ul.nav-menu>li:hover {
    cursor: pointer;
    color: white;
    background-color: #fc8f1c;
}

ul.nav-menu>li:hover span {
    color: white;
}

.shows {
     cursor: pointer;
    color: white;
    background-color: #fc8f1c;
}

.shows span {
    color: white;
}

.body-content .row {
    margin: 0px;    
}

.footer-name {
    font-size: 16px;
  font-family: "Tahoma";
  color: rgb( 66, 65, 64 );
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
    margin-bottom: 35px;
}

.navbar-header #addr {
    font-size: 16px;
  font-family: "Tahoma";
  color: rgb( 66, 65, 64 );
  font-weight: bold;
  line-height: 1.5;
}

.block {
    display: none;
}

.text-center {
    text-align: right;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.page {
        float: right;
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
}

.gj-grid-wrapper TABLE.gj-grid-table DIV {
    vertical-align: middle;
    text-indent: 0;
    display: inline-block;
}

TABLE.gj-grid-table > tbody > tr > td > div {
    padding: 2px;
    overflow: hidden;
}

div.icon-false {
    background: url(/Images/43.ico);
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}