
@{
    ViewBag.Title = "ListCourseOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Contents/css/coursedetail.css" rel="stylesheet" />
<div class="user-info-header">
    <h1 style="width:100%">
        Thông Tin tài khoản
    </h1>
</div>
<div class="profile-info">
    <div class="row nomargin">
        <div class="bordered-box">
            <div class="col-md-12">
                <a href="#" class="s100 zn-avatar avatar level-1 ">
                    <img src="http://img1.res.zuni.vn/avatar/2015/04/10/20150410181434-5527b09a5b936.jpg" class="upAvatar" onerror="Zuni.Layout.fixErrorImgs(this);" alt="THPT Chuyên KHTN (ĐH Quốc gia Hà Nội)">
                </a>
                <div class="metas">
                    <h4>
                        <div class="name">
                            THPT Chuyên KHTN (ĐH Quốc gia Hà Nội)
                        </div>
                        <div class="title user-title"><strong>Giáo viên</strong></div>
                    </h4>

                </div>
            </div>
        </div>
        <div class="bordered-box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="base-info b-block">
                            <h4>Thông tin cơ bản</h4>
                            <div class="content">
                                <div class="info">
                                    <span>Tự giới thiệu</span>
                                    <div>
                                        <p style="text-align: justify;">Trường THPT chuyên Khoa học Tự nhiên Hà Nội (HUS High School for Gifted Students) là hệ đào tạo trung học phổ thông của trường Đại học Khoa học Tự nhiên Hà Nội (Đại học Quốc gia Hà Nội).&nbsp;</p><br>
                                        <p style="text-align: justify;">Trường được thành lập từ năm 1965 với khối được thành lập đầu tiên là Chuyên Toán; sau đó là Chuyên Vật lý; chuyên Tin học (Thành lập thêm lớp chuyên Tin thuộc cùng khối chuyên Toán); Chuyên Hóa học và Chuyên Sinh học là trẻ nhất, được thành lập năm 1998)<br><br>Các khối chuyên của Trường THPT chuyên Khoa học Tự nhiên Hà Nội đóng góp nhiều thành viên cho đội tuyển học sinh giỏi quốc gia và học sinh giỏi quốc tế. Trường cũng đồng thời được công nhận là ngôi trường giàu thành tích nhất Việt Nam về số lượng huy chương cũng như giải thưởng đạt được trong các kỳ thi học sinh giỏi quốc gia (Toán, Tin, Lý, Hóa, Sinh), Olympic Quốc Tế (IMO, IOI, IPhO, IChO, IBO) và các kỳ thi Olympic trong khu vực. Các khối chuyên của trường cũng luôn nằm trong top dẫn đầu 200 trường có điểm trung bình thi đại học cao nhất Việt Nam từ lúc có bảng xếp hạng này.</p><br>
                                        <p style="text-align: justify;">Tất cả các thầy cô tham gia giảng dạy đều có trình độ cao ( PGS, TS, ThS ) và một số người nổi tiếng, có uy tín.&nbsp;Tuy nhiên để có một bài giảng hay trên mạng các thầy cô phải đầu tư rất nhiều công sức. Trước khi tham gia đào tạo các khóa học Online các thầy cô đều là những người thành công hàng chục năm giảng dạy như thầy Nguyễn Vũ Lương, thầy Đỗ Thanh Sơn, thầy Trần Thạch Văn, thầy Phạm Văn Quốc, cô Lưu Lan Hương.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-course">
    <div class="category-title">
        <h3>Khóa học đang dậy</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

