<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;" ng-controller="CtrlMenu">
    {{Name}}
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        
        <li class="sub-menu dcjq-parent-li" ng-repeat="item in Menus" >
            <a href="javascript:;" class="dcjq-parent" ng-if="item.ParentID==0">
                <i class="fa fa-book"></i>
                <span>{{item.Name}}</span>
                <span class="dcjq-icon fa fa-plus"></span>
            </a>
            <ul class="sub" style="display: block;" >
                <li ng-repeat="item1 in Menus" ng-if="item1.ParentID==item.ID"><a href="/Home/CourseCategory/{{item1.ID}}">{{item1.Name}}</a></li>
              
            </ul>
        </li>

        @*<li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-cogs"></i>
                <span>Components</span>
                <span class="dcjq-icon fa fa-plus"></span>
            </a>
            <ul class="sub" style="display: none;">
                <li><a href="grids.html">Grids</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="todo_list.html">Todo List</a></li>
                <li><a href="draggable_portlet.html">Draggable Portlet</a></li>
                <li><a href="tree.html">Tree View</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-tasks"></i>
                <span>Form Stuff</span>
                <span class="dcjq-icon fa fa-plus"></span>
            </a>
            <ul class="sub" style="display: none;">
                <li><a href="form_component.html">Form Components</a></li>
                <li><a href="advanced_form_components.html">Advanced Components</a></li>
                <li><a href="form_wizard.html">Form Wizard</a></li>
                <li><a href="form_validation.html">Form Validation</a></li>
                <li><a href="dropzone.html">Dropzone File Upload</a></li>
                <li><a href="inline_editor.html">Inline Editor</a></li>
                <li><a href="image_cropping.html">Image Cropping</a></li>
                <li><a href="file_upload.html">Multiple File Upload</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
                <span class="dcjq-icon fa fa-plus"></span>
            </a>
            <ul class="sub" style="display: none;">
                <li><a href="basic_table.html">Basic Table</a></li>
                <li><a href="responsive_table.html">Responsive Table</a></li>
                <li><a href="dynamic_table.html">Dynamic Table</a></li>
                <li><a href="editable_table.html">Editable Table</a></li>
            </ul>
        </li>*@


    </ul>
    <!-- sidebar menu end-->
</div>
