@{
    ViewBag.Title = "ContentCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Contents/css/style1.css" rel="stylesheet" />*@
<link href="~/Contents/css/coursedetail.css" rel="stylesheet" />
<div ng-controller="myContentCourse">
    <div class="row nomargin">
        <div class="col-md-12 no-paddingxs">
            <div class="course-header">
                <div class="course-header-content">
                    <span class="course-name ellipsis">{{NameCourse}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row nomargin course-container">
        <div class="col-md-6 no-paddingxs">
            <div class="list-lesstion">
                <div class="lesstion-header no-paddingxs">
                    <a href="#">
                        <ul>
                            <li class="icon-player">
                                <i class="fa fa-play-circle"></i>
                            </li>
                            <li class="first-lesstion">
                                <div class="lesstion-header-content">
                                    <p class="nomargin lecture-header-index">Bài giảng 1:</p>
                                    <p class="nomargin lecture-header-name">Bài 1: Tổng quan giao diện PowerPoint 2007</p>
                                    <p class="nomargin lecture-header-time">0:2:22</p>
                                </div>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="row nomargin lesstion-progress">
                    <div class="row trophy">
                        <div class="progress-title">
                            <ul class="progress-title-content nomargin">
                                <li class="progress-title-item">Bạn đã hoàn thành</li>
                                <li class="progress-title-item bold">0</li>
                                <li class="progress-title-item">trên</li>
                                <li class="progress-title-item bold">24</li>
                                <li class="progress-title-item">bài giảng</li>
                            </ul>
                            <i class="fa fa-trophy"></i>
                        </div>
                    </div>
                    <div class="row nomargin progress-container">
                        <div class="progress">
                            <div class="progress-bar" style="width: 0.0%"></div>
                        </div>
                        <div class="progress-finish">
                            <div class="finish"></div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin list-lesstion-container">
                    <div ng-repeat="item in slns">
                        <div class="row nomargin chap-title">{{item.SectionName}} </div>
                        <div class="row nomargin chap-item" ng-repeat="ln in less" ng-if="ln.SectionID==item.ID">
                            <a href="/courses/huong-dan-su-dung-powerpoint-2007/lecture/0">
                                <div class="row nomargin item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row  nomargin">
                                            <div class="chap-item-title">{{ln.LessonName}}</div>
                                        </div>
                                        <div class="row  nomargin">
                                            <div class="row type-document">
                                                <ul class="">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>00:02:22</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden-xs hidden-sm nomargin lesstion-discussion">
            <div class="row nomargin">
                <ul class="course-navigation course-menu" role="tablist">
                    <li role="presentation" class="active"><a href="#thaoluan" aria-controls="profile" role="tab" data-toggle="tab">Thảo Luận</a></li>
                    <li role="presentation"><a href="#thongbao" aria-controls="profile" role="tab" data-toggle="tab">Thông Báo</a></li>
                    <li role="presentation"><a href="#họcvien" aria-controls="profile" role="tab" data-toggle="tab">Học Viên</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="thaoluan">
                        <div class="row nomargin discussion expand">
                            <div class="row nomargin">
                                <div class="col-md-6 col-lg-6 no-padding search">
                                    <input class="form-control" id="search-comment" placeholder="Tìm kiếm thảo luận">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <h5 class="choice-text">Hoặc</h5>
                                </div>
                                <div class="col-md-4 col-lg-4 no-padding">
                                    <div class="btn btn-primary add-comment">
                                        Thảo luận mới
                                    </div>
                                    <ul class="add-comment-container"></ul>
                                </div>
                            </div>
                            <h4 class="search-notice" style="display: none">Không có kết quả được tìm thấy. Thử tìm kiếm tiếp hoặc bắt đầu một cuộc thảo luận.</h4>
                            <div class="row nomargin list-discussion">
                                <div class="row discussion-item nomargin">
                                    <div class="col-md-1 col-lg-1 no-padding discussion-item-avatar">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="col-md-11 col-lg-11 no-padding discussion-item-main">
                                        <ul class="discussion-item-title">
                                            <li class="bold">Vũ Nguyễn</li>
                                            <li>đã đăng 1 thảo luận - khoảng 2 tháng trước</li>
                                        </ul>
                                        <span class="discussion-item-subject">
                                            Phù hợp với những bạn chưa biết gì powerpoint.
                                        </span>
                                        <div class="row nomargin discussion-item-content">
                                            <div class="row nomargin cleanslate">
                                                <p>Mình đã sử dụng powerpoint nhiều nên cần tìm những bài giảng chuyên sâu hơn về các hoạt cảnh animation trong powerpoint. Không biết chừng nào có khóa học đó. Mà giờ mọi người điều chuyển lên powerpoint 2010 hay 2013 rồi, xài tiện lợi và hiệu ứng đẹp hơn nhiều. Sao Pedia không dạy những phiên bản đó nhỉ.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row discussion-item nomargin">
                                    <div class="col-md-1 col-lg-1 no-padding discussion-item-avatar">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="col-md-11 col-lg-11 no-padding discussion-item-main">
                                        <ul class="discussion-item-title">
                                            <li class="bold">Phạm Gia Đạt</li>
                                            <li>đã đăng 1 thảo luận - 3 tháng trước</li>
                                        </ul>
                                        <span class="discussion-item-subject">

                                        </span>
                                        <div class="row nomargin discussion-item-content">
                                            <div class="row nomargin cleanslate">
                                                <p>SAO BỊ MẤT TỚI HƠN 15 BÀI GIẢNG VẬY</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row discussion-item nomargin">
                                    <div class="col-md-1 col-lg-1 no-padding discussion-item-avatar">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="col-md-11 col-lg-11 no-padding discussion-item-main">
                                        <ul class="discussion-item-title">
                                            <li class="bold">Phạm Gia Đạt</li>
                                            <li>đã đăng 1 thảo luận - 3 tháng trước</li>
                                        </ul>
                                        <span class="discussion-item-subject">
                                            Hay
                                        </span>
                                        <div class="row nomargin discussion-item-content">
                                            <div class="row nomargin cleanslate">
                                                <p>Khoá này hay này</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="thongbao">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="họcvien">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


