@{
    ViewBag.Title = "CreateCourseManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section masterjs
{
    <link href="~/Contents/css/coursedetail.css" rel="stylesheet" />
    <link href="~/Contents/Plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Contents/Plugins/dist/summernote.css" rel="stylesheet" />
    <link href="~/Contents/Plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/Contents/css/bootstrap-switch.min.css" rel="stylesheet" />
    <script src="~/Contents/Plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Contents/Plugins/dist/summernote.min.js"></script>
    <script src="~/Contents/Plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Contents/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker();
    });
    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
        });
    });
    $(".switch-square").bootstrapSwitch();
</script>
}

@*<script src="~/Contents/js/progress.js"></script>*@
<div id="" class="main-container no-paddingxs">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active">Modal</li>
    </ul>
    <div class="courseManage">

    </div>
    <div id="courseManager">
        <div class="row nomargin">
            <div class="col-md-12 nopading">
                <div id="cm-header" class="box">
                    <div class="course-metas col-md-7">
                        <div class="course-img">
                            <img class="ccAvatar" src="http://stc.zuni.vn/resource/module/default/layout/image/course_no_image.jpg" alt="" onerror="Zuni.Layout.fixErrorImgs(this);">
                        </div>
                        <div class="course-info">
                            <div class="name">
                                Học Lập Trình Asp.Net MVC5
                                <div class="live-status">
                                    <div class="status" data-toggle="tooltip" title="" data-original-title="Chưa phát hành"><i class="fa fa-circle"></i></div>
                                </div>
                            </div>
                            <div class="teacher">
                                <a class="teacher" href="/thong-tin-tai-khoan/namckiku/271225" data-toggle="profile" data-id="271225" data-original-title="" title="">
                                    <span>Nam Ckiku</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="course-actions col-md-5">
                        <div class="publish-status">
                            <div class="edit-status">
                                <div class="current-status">
                                    Chưa yêu cầu phát hành
                                </div>

                                <a href="#" class="cm-request-publish-course-btn btn btn-success" data-type="3">Yêu cầu phát hành</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomargin">
            <div class="col-md-2 nopading">
                <div id="cm-sidebar" class="">
                    <ul class="cm-menu">
                        <li class="active">
                            <a class=""><span class="fa fa-dashboard"></span> Tổng quan</a>
                        </li>
                        <li class="">
                            <a class="" href="/quan-ly-khoa-hoc/2276/cai-dat-thong-tin"><span class="fa fa-gear"></span> Cài đặt</a>
                        </li>
                        <li class="">
                            <a class="" href="/quan-ly-khoa-hoc/2276/noi-dung"><span class="fa fa-tasks"></span> Nội dung</a>
                        </li>
                        <li class="">
                            <a class="" href="/quan-ly-khoa-hoc/2276/danh-sach-hoc-vien"><span class="fa fa-bar-chart-o"></span> Thống kê</a>
                        </li>
                        <li class="">
                            <a class="" href="/quan-ly-khoa-hoc/2276/thong-tin-phe-duyet"><span class="fa fa-location-arrow"></span> Thông tin phê duyệt</a>
                        </li>
                        <li class="">
                            <a class="" href="/quan-ly-khoa-hoc/2276/ho-tro-truc-tuyen"><span class="fa fa-life-ring"></span> Hỗ trợ trực tuyến</a>
                        </li>
                    </ul>
                </div>

                @*<div id="cm-toolbox" class="box">
                    <div class="content">
                    <p class="head">Công cụ</p>
                    <a class="btn-link" target="_blank" href="/quan-ly-khoa-hoc/2276/gui-thong-bao"> <i class="fa fa-bullhorn"></i> Gửi tin nhắn đến học viên</a>
                    <a class="btn-link" target="_blank" href="/coursemgt/coupon/manage/course_id/2276"><i class="fa fa-shopping-cart"></i> Quản lý coupon</a>
                    </div>
                    </div>

                    <div class="zn-left-support">
                    <div id="zn-course-support" class="contained">
                    <p class="head">Bạn cần hỗ trợ?</p>
                    <div class="hotline">
                    <div class="number"><i class="fa fa-phone"></i> 0968.63.03.03</div>
                    </div>
                    <div class="socials">
                    <a href="javascript:void(0)" class="zn-send-message" data-id="2" data-username="[BQT] Hỗ trợ giáo viên">
                    <span class="support-avatar">
                    <img src="http://img1.res.zuni.vn/avatar/2014/12/22/20141222171036-nen trag gv.jpg" onerror="Zuni.Layout.fixErrorImgs(this);" class="upAvatar" alt="">
                    </span>
                    Gửi tin nhắn cho Ban quản trị
                    </a>
                    <a class="email" href="mailto:teacher@zuni.vn"><i class="fa fa-envelope"></i> Liên hệ qua email</a>
                    <a class="facebook" target="__blank" href="https://www.facebook.com/groups/zuniteacher/"><i class="fa fa-facebook-square"></i> Cộng đồng Giáo viên giảng dạy trực tuyến</a>
                    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
                    <a href="skype:zuni.vng?chat" class="skype">
                    <i class="fa fa-skype"></i> Hỗ trợ trực tuyến
                    </a>
                    </div>
                    </div>
                    </div>*@

                @*<script type="text/javascript">
                    $('#btn-quick-review').on('click', function (e) {
                    $.post('/coursemgt/course-manager/push-courseware-to-live', { id: "2276" }, function (resp) {
                    if (resp) {
                    alert('Phê duyệt thành công');
                    }
                    });
                    });
                    </script>*@
            </div>

            <div class="col-md-10 no-paddingxs">
                <div class="body bordered-box box">
                    <div class="col-md-12 nopading">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#infomation" aria-controls="home" role="tab" data-toggle="tab"><span class="name"><i class="fa fa-info-circle"></i> Thông tin</span></a></li>
                            <li role="presentation"><a href="#teacher" aria-controls="profile" role="tab" data-toggle="tab"><span class="name"><i class="fa fa-users"></i> Giảng viên/ Trợ giảng</span></a></li>
                        </ul>
                    </div>
                    <div class="content nopading-left">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="infomation">
                                <div class="course-form-create">
                                    <div class="title-h2">
                                        <i class="fa fa-info-circle"></i> Thông tin cơ bản
                                        <i class="zn-form-info"><font class="required" color="red">*</font> là bắt buộc điền</i>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Tên Khóa Học <font class="required" color="red">*</font></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="courseTitle" name="courseTitle" placeholder="Tên khóa học" value="Học Lập Trình Asp.Net MVC5">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Thời Gian Từ <font class="required" color="red">*</font></label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control datepicker">
                                            </div>
                                            <label class="col-md-1 control-label">đến</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control datepicker">
                                            </div>
                                            <div class="col-md-3">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        <input type="checkbox" value="true" checked="">
                                                        Vô thời hạn
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Anhr Đại Diện</label>
                                            <div class="col-md-10">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <input type="hidden">
                                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
                                                    <div>
                                                        <span class="btn btn-success btn-file">
                                                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                                                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                            <input type="file" class="default">
                                                        </span>
                                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
                                                    </div>
                                                </div>
                                                <span class="label label-danger">NOTE!</span>
                                                <span>
                                                    Kích thước hình đại diện là 480 x 270 px.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Hình Nền</label>
                                            <div class="col-md-10">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <input type="hidden">
                                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
                                                    <div>
                                                        <span class="btn btn-success btn-file">
                                                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                                                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                            <input type="file" class="default">
                                                        </span>
                                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
                                                    </div>
                                                </div>
                                                <span class="label label-danger">NOTE!</span>
                                                <span>
                                                    Hình nền có dung lượng không quá 1024M.
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="course-form-create">
                                    <div class="title-h2">
                                        <i class="fa fa-info-circle"></i> Lĩnh Vực
                                        <i class="zn-form-info"><font class="required" color="red">*</font> là bắt buộc điền</i>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Loại Khóa Học <font class="required" color="red">*</font></label>
                                            <div class="col-sm-10">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Môn Học<font class="required" color="red">*</font></label>
                                            <div class="col-sm-5">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="course-form-create">
                                    <div class="title-h2">
                                        <i class="fa fa-info-circle"></i> Chi Tiết
                                        <i class="zn-form-info"><font class="required" color="red">*</font> là bắt buộc điền</i>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Mục Tiêu</label>
                                            <div class="col-md-12">
                                                <div class="summernote"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Mục Tiêu</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Mục Tiêu Khóa Học">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Đối Tượng</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Đối tượng học viên">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Điều Kiện</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Điều Kiện">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="course-form-create">
                                    <div class="title-h2">
                                        <i class="fa fa-info-circle"></i> Cài Đặt
                                        <i class="zn-form-info"><font class="required" color="red">*</font> là bắt buộc điền</i>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-md-2 control-label">Riêng Tư[?]</label>
                                            <div class="col-md-10">
                                                <input type="checkbox" class="switch-square" checked>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Học Phí</label>
                                            <div class="col-md-5">
                                                <div class="input-group m-bot15">
                                                    <span class="input-group-addon">VNĐ</span>
                                                    <input type="text" class="form-control" placeholder="học phí thực tế học sinh phải trả">
                                                    <span class="input-group-addon">.000</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                            <div class="col-md-5">
                                                <div class="input-group m-bot15">
                                                    <span class="input-group-addon">VNĐ</span>
                                                    <input type="text" class="form-control" placeholder="học phí gốc">
                                                    <span class="input-group-addon">.000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="course-form-create">
                                    <div class="title-h2">
                                        <i class="fa fa-info-circle"></i> Video
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#videointro">
                                        Video Giới Thiệu
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade bs-example-modal-lg" id="videointro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="upload-right">
                                                        <div class="upload-file">
                                                            <div class="services-icon">
                                                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                                            </div>
                                                            <input type="file" id="ful" value="Choose file..">
                                                        </div>
                                                        <div class="upload-info">
                                                            <h5>Chọn File Upload</h5>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @*<div class="progress progress-striped active progress-sm">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                                        <span class="sr-only">45% Complete</span>
                                                                    </div>
                                                                </div>*@
                                                            <div id="progress_bar" class="progress progress-striped active progress-sm">
                                                                <div class="ui-progress progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                                                    <span class="ui-label" style="display:none;">Processing <b class="value">79%</b></span>
                                                                </div>
                                                            </div>
                                                            <h3 id="status"></h3>
                                                            <p id="load-total"></p>
                                                        </div>
                                                        <div class="col-md-1"><input class="btn btn-success" type="button" id="btn-upload" value="Upload File" onclick="uploadFile()"></div>

                                                        @*<div class="progress">
                                                                <div class="progress-bar">
                                                                    0%
                                                                </div>
                                                            </div>
                                                            <div id="status">

                                                            </div>*@
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Lưu File</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#videodemo">
                                        Video Học Thử
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade bs-example-modal-lg" id="videodemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Video Học Thử</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="upload-right">
                                                        <div class="upload-file">
                                                            <div class="services-icon">
                                                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                                            </div>
                                                            <input type="file" id="ful" value="Choose file..">
                                                        </div>
                                                        <div class="upload-info">
                                                            <h5>Chọn File Upload</h5>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="progress progress-striped active progress-sm">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                                    <span class="sr-only">45% Complete</span>
                                                                </div>
                                                            </div>
                                                            <h3 id="status"></h3>
                                                            <p id="load-total"></p>
                                                        </div>
                                                        <div class="col-md-1"><input class="btn btn-success" type="button" id="btn-upload" value="Upload File" onclick="uploadFile()"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Lưu File</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="teacher"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //var bar = $(".progress-bar");
    //var percent = $(".progress-bar");
    //var status = $("#status");
    //$('form').ajaxForm({
    //    beforeSend: function () {
    //        status.empty();
    //        percentValue='0%';
    //        bar.width(percentValue);
    //        percent.html(percentValue);
    //    },
    //    upLoadProgress: function (event,position,total,percentComplete) {
    //        var percentValue=percentComplete+'%';
    //        bar.width(percentValue);
    //        percent.html(percentValue);
    //    },
    //    success: function (d) {
    //        percentValue='100%';
    //        bar.width(percentValue);
    //        percent.html(percentValue);
    //        $('#ful').val('');
    //    },
    //    complete: function (xhr) {
    //        status.html(xhr.responseText);
    //    },
    //});
    //function uploadFile() {
    //    var file = $('#ful');
    //var percent = $(".progress-bar");
    //var status = $("#status");
    //}
</script>
