@{
    ViewBag.Title = "CreateCourseContentManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section masterjs
{

    <link href="~/Contents/css/course-manager.css" rel="stylesheet" />
    <link href="~/Contents/css/coursedetail.css" rel="stylesheet" />
    <link href="~/Contents/Plugins/dist/summernote.css" rel="stylesheet" />
    <script src="~/Contents/js/bootstrap.min.js"></script>
    <script src="~/Contents/Plugins/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
    <script>
        $(document).ready(function () {

            $('.summernote').summernote({
                height: 300,
                minHeight: null,
                maxHeight: null,
                focus: false,
            });
            $('#allSesstion').click(function () {
                $('#form-secction').toggleClass('hidden');
            });
            $('#cancel-link-secction').click(function () {
                $('#form-secction').addClass('hidden');
            });
            $('#allLesstion').click(function () {
                $('#form-lesstion').toggleClass('hidden');
            });
            $('#cancel-link-lesstion').click(function () {
                $('#form-lesstion').addClass('hidden');
            });
            $('#allTest').click(function () {
                $('#form-Test').toggleClass('hidden');
            });
            $('#cancel-link-lesstion').click(function () {
                $('#form-lesstion').addClass('hidden');
            });
            $('#Delete-Lesstion').click(function () {
                $('#Form-Delete-lesstion').toggleClass('hidden');
            });
            $('#cancle-delete-lesstion').click(function () {
                $('#Form-Delete-lesstion').addClass('hidden');
            });
        });
    </script>
}

<div id="" class="main-container no-paddingxs">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active">Modal</li>
    </ul>
    <div class="courseManage">

    </div>
    <div id="courseManager">
        <div class="row nomargin">
            <div class="col-md-12 nopading">
                <div id="cm-header" class="box">
                    <div class="course-metas col-md-7">
                        <div class="course-img">
                            <img class="ccAvatar" src="http://stc.zuni.vn/resource/module/default/layout/image/course_no_image.jpg" alt="" onerror="Zuni.Layout.fixErrorImgs(this);">
                        </div>
                        <div class="course-info">
                            <div class="name">
                                Học Lập Trình Asp.Net MVC5
                                <div class="live-status">
                                    <div class="status" data-toggle="tooltip" title="" data-original-title="Chưa phát hành"><i class="fa fa-circle"></i></div>
                                </div>
                            </div>
                            <div class="teacher">
                                <a class="teacher" href="/thong-tin-tai-khoan/namckiku/271225" data-toggle="profile" data-id="271225" data-original-title="" title="">
                                    <span>Nam Ckiku</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="course-actions col-md-5">
                        <div class="publish-status">
                            <div class="edit-status">
                                <div class="current-status">
                                    Chưa yêu cầu phát hành
                                </div>

                                <a href="#" class="cm-request-publish-course-btn btn btn-success" data-type="3">Yêu cầu phát hành</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomargin">
            <div class="cm-header box">
                <div class="row">
                    <div class="col-md-5">
                        <div class="cm-title"><i class="fa fa-tasks"></i> Quản lý nội dung</div>
                    </div>
                    <div class="col-md-7">
                        <div class="pull-right">
                            <ul class="back-buttons">
                                <li class="">
                                    <a class="zn-btn btn-medium btn-" href="/quan-ly-khoa-hoc/2276/tong-quan"><span class="fa fa-dashboard"></span> Tổng quan</a>
                                </li>
                                <li class="">
                                    <a class="zn-btn btn-medium btn-" href="/quan-ly-khoa-hoc/2276/cai-dat-thong-tin"><span class="fa fa-gear"></span> Cài đặt</a>
                                </li>
                                <li class="active">
                                    <a class="zn-btn btn-medium btn-"><span class="fa fa-tasks"></span> Nội dung</a>
                                </li>
                                <li class="">
                                    <a class="zn-btn btn-medium btn-" href="/quan-ly-khoa-hoc/2276/danh-sach-hoc-vien"><span class="fa fa-bar-chart-o"></span> Thống kê</a>
                                </li>
                                <li class="">
                                    <a class="zn-btn btn-medium btn-" href="/quan-ly-khoa-hoc/2276/thong-tin-phe-duyet"><span class="fa fa-location-arrow"></span> Thông tin phê duyệt</a>
                                </li>
                                <li class="">
                                    <a class="zn-btn btn-medium btn-" href="/quan-ly-khoa-hoc/2276/ho-tro-truc-tuyen"><span class="fa fa-life-ring"></span> Hỗ trợ trực tuyến</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomargin">
            <div class="col-md-4 no-padding">
                <div id="allSesstion" class="allSectionActions">
                    <a href="javascript:void(0);" type="button" class="add-section-btn">
                        <span class="fa fa-plus"></span> Thêm chương
                    </a>
                </div>
                <form id="form-secction" class="hidden">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="addItemInput">
                                        <input type="text" class="input-sm form-control ng-pristine ng-valid" placeholder="Nhập tên chương.." ng-model="sectionName" ng-focus="showAddSectionForm">
                                    </div>
                                    <div class="addItemActions">
                                        <button type="submit" class="zn-btn btn-success btn-medium">Lưu</button>
                                        <button type="button" id="cancel-link-secction" class="zn-btn btn-medium">Hủy</button>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="hiddenSubmit">
                </form>
                <div id="listSection" class="sectionList">
                    <div class="panel-group ng-scope">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="sectionAnchor" data-toggle="collapse" data-parent="#accordion" href="#collapseSection2040">
                                        <span class="fa down fa-caret-down" title="Mở rộng nội dung Chương"></span>
                                        <span class="fa up fa-caret-up" title="Thu gọn nội dung Chương"></span>
                                    </a>
                                    <span class="sectionTitle ng-binding" data-toggle="tooltip" title="Click để đổi tên">
                                        &nbsp;ÀAFF
                                    </span>

                                    <form class="inlineEdit hidden">
                                        <div class="addItemInput">
                                            <input type="text" class="input-sm form-control ng-pristine ng-valid" placeholder="Nhập tên chương..">
                                        </div>
                                        <div class="addItemActions">
                                            <button type="submit" class="zn-btn btn-success btn-medium">Lưu</button>
                                            <button type="button" class="zn-btn btn-medium">Hủy</button>
                                        </div>
                                        <input type="submit" class="hiddenSubmit">
                                    </form><!-- inlineEdit -->

                                    <form class="confirmDelete hidden">
                                        <p class="removeText"><i class="fa fa-trash-o"></i> Xác nhận xóa chương<br> <b class="ng-binding">ÀAFF</b></p>
                                        <div class="deleteItemActions">
                                            <button type="submit" class="zn-btn btn-medium btn-danger red">Có</button>
                                            <button type="button" class="zn-btn btn-medium ">Không</button>
                                        </div>
                                    </form><!-- confirmDelete -->

                                </h4>
                                <div class="itemActions sectionTopActions">
                                    <a href="javascript:void(0);" class="edit">
                                        <span class="fa fa-pencil" data-cls="sectionManager" data-toggle="tooltip" title="Chỉnh sửa" data-section-id="2040"></span>
                                    </a>
                                    <a href="javascript:void(0);" class="remove">
                                        <span class="fa fa-trash-o" title="Xóa"></span>
                                    </a>
                                    <a href="javascript:void(0);" class="move">
                                        <span class="fa fa-reorder" title="Thay đổi vị trí"></span>
                                    </a>
                                </div>
                            </div>
                            @*End list Secction*@
                            <div id="collapseSection2040" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="sectionAnchor collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSection2041" aria-expanded="false">
                                                        <span class="fa fa-circle-o lessonIcon" title="Mở rộng nội dung Chương"></span>
                                                    </a>
                                                    <span class="sectionTitle ng-binding" data-toggle="tooltip" title="" data-original-title="Click để đổi tên">
                                                        &nbsp;FSDFSDFSDF
                                                    </span>
                                                    <form class="confirmDelete hidden" id="Form-Delete-lesstion">
                                                        <p class="removeText"><i class="fa fa-trash-o"></i> Xác nhận xóa chương<br> <b class="ng-binding">FSDFSDFSDF</b></p>
                                                        <div class="deleteItemActions">
                                                            <button type="submit" class="zn-btn btn-medium btn-danger red">Có</button>
                                                            <button type="button" id="cancle-delete-lesstion" class="zn-btn btn-medium ">Không</button>
                                                        </div>
                                                    </form><!-- confirmDelete -->
                                                    <div class="itemActions pull-right">
                                                        <a href="javascript:void(0);" class="addSub">
                                                            <span class="fa fa-pencil" data-toggle="tooltip" title="" data-original-title="Quản lý nội dung"></span>
                                                        </a>
                                                        <a href="javascript:void(0);" id="Delete-Lesstion" class="remove">
                                                            <span class="fa fa-trash-o" title="Xóa"></span>
                                                        </a>
                                                    </div>
                                                </h4>
                                            </div>
                                            @*End List Lesstion*@
                                        </div>
                                    </div>
                                    <div id="allLesstion" class="allSectionActions">
                                        <a href="#addTest" data-toggle="tab" type="button" class="add-course-test-btn">
                                            <span class="fa fa-plus"></span> Thêm Bài Học
                                        </a>
                                    </div>
                                    <form id="form-lesstion" class="hidden">
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <div class="addItemInput">
                                                            <input type="text" class="input-sm form-control ng-pristine ng-valid" placeholder="Nhập tên bài kiểm tra cuối khóa.." ng-model="courseTestName" ng-focus="showAddCourseTestForm">
                                                        </div>
                                                        <div class="addItemActions">
                                                            <button type="submit" class="zn-btn btn-success btn-medium">Lưu</button>
                                                            <button type="button" id="cancel-link-lesstion" class="zn-btn btn-medium">Hủy</button>
                                                        </div>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="hiddenSubmit">
                                    </form>
                                </div>
                            </div>
                            @*End Box -Lesstion*@
                        </div>
                    </div>
                </div>
                <div id="allTest" class="allSectionActions">
                    <a href="#addTest" data-toggle="tab" type="button" class="add-course-test-btn">
                        <span class="fa fa-plus"></span> Thêm bài kiểm tra cuối khóa
                    </a>
                </div>
                <form id="form-Test" class="hidden">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="addItemInput">
                                        <input type="text" class="input-sm form-control ng-pristine ng-valid" placeholder="Nhập tên bài kiểm tra cuối khóa.." ng-model="courseTestName" ng-focus="showAddCourseTestForm">
                                    </div>
                                    <div class="addItemActions">
                                        <button type="submit" class="zn-btn btn-success btn-medium">Lưu</button>
                                        <button type="button" id="cancel-link-lesstion" class="zn-btn btn-medium">Hủy</button>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="hiddenSubmit">
                </form>
            </div>
            <div class="col-md-8 cm-header">
                <div class="course-form-create">
                    <div class="title-h2">
                        <i class="fa fa-info-circle"></i> Chi Tiết
                        <i class="zn-form-info"><font class="required" color="red">*</font> là bắt buộc điền</i>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-5 control-label">Mô Tả Nội Dung Chương Học</label>
                            <div class="col-md-12">
                                <div class="summernote" tabindex="-1"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

