@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section masterjs
{
    <link href="~/Contents/css/style1.css" rel="stylesheet" />
    <link href="~/Contents/css/coursedetail.css" rel="stylesheet" />
}
<div class="show-top-grids">
    <div class="row nomargin">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="info-course">
                <h1>CHUYÊN ĐỀ PEPTIT - PROTEIN - CHINH PHỤC HÓA HỌC TỪ GỐC CÙNG THẦY DIỆN</h1>
                <p>Thầy Lê Tấn Diện - Thạc sĩ Phương pháp giảng dạy <span>Thầy Diện Hóa học</span></p>
                <div class="stats">
                    <div class="rating">
                        <div class="rate-box">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                        </div>                        <a class="review-counter" href="#course-review-box">
                            <b>36</b> đánh giá
                        </a>
                    </div>
                    <div class="users">
                        <i class="fa fa-user"></i> <b>582</b> học viên
                    </div>
                </div>
                <div class="course-player">
                    <div class="video-container no-controls">
                        <img class="img-responsive" src="//static.edumall.vn/uploads/images/courses/thumbnail_ci---21-ky-nang-song.jpg" alt="Thumbnail ci   21 ky nang song">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="zn-section">
                <div class="course-cta-wrapper">
                    <div class="text-center cta">
                        <div class="invite">Học cả năm chỉ với</div>
                        <div class="price">Miễn phí</div>
                        <div class="actions">
                            <button class="start-course btn-lg btn-success">Vào học</button>
                        </div>
                    </div>
                    <div class="clearfix course-spec-list">
                        <div class="spec">
                            <span>Hệ thống lý thuyết quan trọng của từng dạng toán trong mỗi chuyên đề</span>
                        </div><div class="spec">
                            <span>20 chuyên đề chuyên sâu Vô cơ - Hữu cơ</span>
                        </div><div class="spec">
                            <span>5 nhóm phương pháp giải nhanh</span>
                        </div><div class="spec">
                            <span>2 hệ thống kĩ năng xử lí bốn phương án, xử lí số liệu, bấm máy tính</span>
                        </div><div class="spec">
                            <span>Kinh nghiệm phân tích bốn phương án - làm bài thi</span>
                        </div><div class="spec">
                            <span>Mỗi chuyên đề không ít hơn 10 ví dụ, tất cả bằng video</span>
                        </div><div class="spec">
                            <span>Đề thi thử và video hướng dẫn giải</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row nomargin">
        <div class="col-md-8">
            <div>

                <!-- Nav tabs -->
                <ul class="course-navigation course-menu" role="tablist">
                    <li role="presentation" class="active"><a href="#introduction" aria-controls="profile" role="tab" data-toggle="tab">Giới thiệu</a></li>
                    <li role="presentation"><a href="#teacher" aria-controls="profile" role="tab" data-toggle="tab">Giáo viên</a></li>
                    <li role="presentation"><a href="#outline" aria-controls="profile" role="tab" data-toggle="tab">Chương trình</a></li>
                    <li role="presentation"><a href="#reviews" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="introduction">
                        <div class="introduction">
                            <p style="text-align: justify;"><span style="color: #ff0000;"><strong>Lưu ý: Khóa học miễn phí đến hết ngày 31/3/2016</strong></span></p>
                            <p style="text-align: justify;">Thầy đã&nbsp;<strong>dạy trung tâm</strong>&nbsp;được mười mấy năm gì đấy, trải qua 5-10 trung tâm, điều trăn trở nhất của thầy là tất cả các em<strong>&nbsp;trong một lớp đều phải học cùng chung một chương trình, một mức độ kiến thức</strong>&nbsp;như nhau. Và điều gì xảy ra các em hiểu rồi! Thầy xây dựng&nbsp;<strong>khóa học</strong>&nbsp;này có&nbsp;<strong>mức độ phân hóa rất cao</strong>&nbsp;và&nbsp;<strong>hướng dẫn từng đối tượng học sinh riêng biệt</strong>. Mỗi em,&nbsp;tùy theo khả năng, mục đích, có thể tiếp cận mức độ kiến thức phù hợp. Những em nắm&nbsp;<strong>vững kiến thức</strong>, học tốt rồi hãy&nbsp;<strong>bắt đầu từ những ví dụ ở giữa hoặc gần cuối</strong>; những em chưa tốt,&nbsp;<strong>hỏng nhiều kiến thức</strong>, hãy&nbsp;<strong>bắt đầu lại những ví dụ đầu tiên</strong>. Mỗi chuyên đề thầy đều xây dựng logic, từ dễ đến khó, đến rất khó.</p>
                            <p style="text-align: justify;">Các em đã từng nghe câu: "Xây nhà từ nóc"?! Và đây là mục đích thứ 2: Qua mỗi ví dụ nắm bắt được, thầy biết các em sẽ vui rất nhiều, và thầy càng vui nhiều hơn nữa khi&nbsp;<strong>đem đến cho các em sự hiểu biết chân thật, gốc rễ của vấn đề</strong>. Gốc đã vững, các em&nbsp;<strong>sẽ tiến bộ</strong>&nbsp;qua từng ngày, thêm tự tin,&nbsp;<strong>yêu thích môn Hóa học,&nbsp;</strong>dần&nbsp;<strong>chinh phục điểm số rất cao</strong>&nbsp;trong các kì thi.</p>
                            <div class=" row">
                                <div class="col-md-4">
                                    <div class="info-group">
                                        <div class="info-heading" role="tab" id="headingTwo">
                                            <h4 class="info-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="fa fa-angle-down"></i>Ai nên tham gia?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="info-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="course-spec-list">
                                                    <div class="spec">
                                                        <span>Học sinh dự thi THPTQG 2016 muốn được học kĩ, nắm bắt kiến thức tuần tự từ dễ đến khó</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info-group">
                                        <div class="info-heading" role="tab" id="headingOne">
                                            <h4 class="info-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-angle-down"></i>Bạn sẽ học được gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="info-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="course-spec-list">
                                                    <div class="spec">
                                                        <span>Hiểu rõ bản chất - Luyện phương pháp - Rèn kĩ năng </span>
                                                    </div><div class="spec">
                                                        <span>Chinh phục đến điểm 9, 10 trong kì thi THPTQG 2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info-group">
                                        <div class="info-heading" role="tab" id="headingThree">
                                            <h4 class="info-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="fa fa-angle-down"></i>Khóa học bao gồm?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="info-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="course-spec-list">
                                                    <div class="spec">
                                                        <span>Hệ thống lý thuyết quan trọng của từng dạng toán trong mỗi chuyên đề</span>
                                                    </div><div class="spec">
                                                        <span>20 chuyên đề chuyên sâu Vô cơ - Hữu cơ</span>
                                                    </div><div class="spec">
                                                        <span>5 nhóm phương pháp giải nhanh</span>
                                                    </div><div class="spec">
                                                        <span>2 hệ thống kĩ năng xử lí bốn phương án, xử lí số liệu, bấm máy tính</span>
                                                    </div><div class="spec">
                                                        <span>Kinh nghiệm phân tích bốn phương án - làm bài thi</span>
                                                    </div><div class="spec">
                                                        <span>Mỗi chuyên đề không ít hơn 10 ví dụ, tất cả bằng video</span>
                                                    </div><div class="spec">
                                                        <span>Đề thi thử và video hướng dẫn giải</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="teacher">
                        <div id="teacher" class="teacher-showoff">
                            <div class="content">
                                <div class="avatar-container">
                                    <a href="/thong-tin-tai-khoan/letandien/261808" class="avatar " data-toggle="profile" data-id="261808" data-original-title="" title="">
                                        <img onerror="Zuni.Layout.fixErrorImgs(this);" class="upAvatar" src="http://img1.res.zuni.vn/avatar/2015/12/04/20151204093431-270x270_ava.jpg">
                                    </a>
                                </div>
                                <div class="metas">
                                    <a class="name" href="/thong-tin-tai-khoan/letandien/261808" data-toggle="profile" data-id="261808" data-original-title="" title="">
                                        <span>Thầy Diện Hóa học</span>
                                    </a>                                                                <div class="academic-title">
                                        Thầy Lê Tấn Diện - Thạc sĩ Phương pháp giảng dạy
                                    </div>
                                    <div class="biography">
                                        <div id="zn-teacher-biography" class="more-less">
                                            <div class="truncated">
                                                <p><strong>Thạc sĩ Lý luận và Phương pháp giảng dạy Hóa học Phương pháp</strong>, quan điểm giảng dạy:</p><br>
                                                <p>✓&nbsp;Dạy cách học, cách tiếp cận vấn đề theo hướng tư duy, sáng tạo.</p><br>
                                                <p>✓&nbsp;Kích thích suy nghĩ, phân tích, so sánh để chủ động nắm bắt kiến thức.</p><br>
                                                <p>✓&nbsp;Nắm vững lý thuyết, hiểu rõ bản chất, tất yếu sẽ nhanh và chính xác.</p><br>
                                                <p>Thi giáo viên giỏi cấp thành phố... <a href="#" class="more-link">Xem thêm <i class="fa fa-angle-right"></i></a></p>
                                            </div>
                                            <div class="full-text">
                                                <p><strong>Thạc sĩ Lý luận và Phương pháp giảng dạy Hóa học Phương pháp</strong>, quan điểm giảng dạy:</p><br>
                                                <p>✓&nbsp;Dạy cách học, cách tiếp cận vấn đề theo hướng tư duy, sáng tạo.</p><br>
                                                <p>✓&nbsp;Kích thích suy nghĩ, phân tích, so sánh để chủ động nắm bắt kiến thức.</p><br>
                                                <p>✓&nbsp;Nắm vững lý thuyết, hiểu rõ bản chất, tất yếu sẽ nhanh và chính xác.</p><br>
                                                <p>Thi giáo viên giỏi cấp thành phố HCM năm 2013-2014.</p><br>
                                                <p>Nhiều năm liền bồi dưỡng học sinh đạt giải cao trong kì thi HSG cấp thành phố.</p><br>
                                                <p><em><span style="text-decoration: underline;">Các sách đã xuất bản: </span></em></p><br>
                                                <p>+ Cuốn 1: “SUY LUẬN VÀ PHƯƠNG PHÁP GIẢI NHANH ĐỀ THI TRẮC NGHIỆM HÓA HỌC 12” – NXB ĐHQG TPHCM năm 2010 (1034-2010/CXB/18-112/ĐHQG TPHCM) (312 trang)</p><br>
                                                <p>+ Cuốn 2: “SUY LUẬN LOGIC – PHƯƠNG PHÁP GIẢI NHANH MÔN HÓA HỌC” – NXB Tổng Hợp TPHCM – Năm 2011 (538-11/CXB/87-53/THTPHCM) (238 trang)</p><br>
                                                <p>+ Cuốn 3: “PHÂN LOẠI VÀ PHƯƠNG PHÁP GIẢI CÁC DẠNG TRẮC NGHIỆM ĐIỂN HÌNH HÓA HỌC 12” – NXB ĐHQG TPHCM – Năm 2012 (207-2012/CXB/03-12/ĐHQGTPHCM) (368 trang)</p><br>
                                                <p>+ Cuốn 4: “ÔN TẬP HIỆU QUẢ HỆ THỐNG LÝ THUYẾT HÓA HỌC 10, 11, 12 VÀ LUYỆN THI ĐẠI HỌC” – NXB ĐHSP TPHCM – Năm 2013 (754-2013/CXB/03-89/ĐHSPTPHCM). (386 trang)</p>                                            <a href="#" class="less-link"><i class="fa fa-angle-left"></i> Thu gọn</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="outline">
                        <div id="curiculums">
                            <div class="curiculums-title">Giáo trình</div>
                            <div class="curiculum">
                                <div class="no-margin curiculum-title" style="border-bottom:1px solid #cccccc">
                                    <a class="normal-text" href="#" style="pointer-events: none; margin: 15px 0">
                                        <b>CHƯƠNG 1: GIỚI THIỆU VỀ KHÓA HỌC</b>
                                    </a>
                                </div>
                            </div>
                            <div class="curiculum">
                                <div class="no-margin curiculum-list">
                                    <div class="col-xs-12 no-padding">
                                        <div class="row no-margin curiculum-content">
                                            <div class="col-xs-12">
                                                <div class="detail-curi-type pull-left" style="margin-right:10px">
                                                    <i class="fa fa-play-circle"></i>
                                                </div>
                                                <div class="detail-curi-lecture pull-left">
                                                    <h5 class="normal-text no-margin" style="line-height:1.5">Bài số 1</h5>
                                                </div>
                                                <div class="detail-curi-title pull-left">
                                                    <h5 class="normal-text no-margin" style="line-height:1.5">Giới thiệu về khóa học</h5>
                                                </div>
                                                <div class="detail-curi-leacture pull-right">
                                                    <h5 class="normal-text no-margin">
                                                        <b>00:02:27</b>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="curiculum">
                                <div class="no-margin curiculum-list">
                                    <div class="col-xs-12 no-padding">
                                        <div class="row no-margin curiculum-content">
                                            <div class="col-xs-12">
                                                <div class="detail-curi-type pull-left" style="margin-right:10px">
                                                    <i class="fa fa-play-circle"></i>
                                                </div>
                                                <div class="detail-curi-lecture pull-left">
                                                    <h5 class="normal-text no-margin" style="line-height:1.5">Bài số 2</h5>
                                                </div>
                                                <div class="detail-curi-title pull-left">
                                                    <h5 class="normal-text no-margin" style="line-height:1.5">Các loại tài liệu liên quan</h5>
                                                </div>
                                                <div class="detail-curi-leacture pull-right">
                                                    <h5 class="normal-text no-margin">
                                                        <b>00:00:00</b>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="curiculum">
                                <div class="no-margin curiculum-title" style="border-bottom:1px solid #cccccc">
                                    <a class="normal-text" href="#" style="pointer-events: none; margin: 15px 0">
                                        <b>CHƯƠNG 2: THẾ NÀO LÀ ĐỆM HÁT?</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reviews">
                        <div class="review-summary">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p><strong>Điểm trung bình</strong></p>
                                    <div class="avg">4.4</div>
                                    <div class="rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                        </div>                <a class="review-counter" href="#course-review-box">
                                            <b>36</b> đánh giá
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p><strong>Chi tiết</strong></p>
                                    <div class="rating-histogram">
                                        <div class="rating-bar-container">
                                            <span class="bar-label">5 <span class="fa fa-star"></span></span>
                                            <span class="bar"><span class="bar-fill" style="width:100%"></span></span> <span class="bar-number">29</span>
                                        </div>
                                        <div class="rating-bar-container">
                                            <span class="bar-label">4 <span class="fa fa-star"></span></span>
                                            <span class="bar"><span class="bar-fill" style="width:7%"></span></span> <span class="bar-number">2</span>
                                        </div>
                                        <div class="rating-bar-container">
                                            <span class="bar-label">3 <span class="fa fa-star"></span></span>
                                            <span class="bar"><span class="bar-fill" style="width:0%"></span></span> <span class="bar-number">0</span>
                                        </div>
                                        <div class="rating-bar-container">
                                            <span class="bar-label">2 <span class="fa fa-star"></span></span>
                                            <span class="bar"><span class="bar-fill" style="width:3%"></span></span> <span class="bar-number">1</span>
                                        </div>
                                        <div class="rating-bar-container">
                                            <span class="bar-label">1 <span class="fa fa-star"></span></span>
                                            <span class="bar"><span class="bar-fill" style="width:14%"></span></span> <span class="bar-number">4</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
