@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-course">
    <div class="category-title">
        <h3>Recent Videos</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <span class="free">Miễn phí</span>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="list-course">
    <div class="category-title">
        <h3>Recent Videos</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="list-course">
    <div class="category-title">
        <h3>Recent Videos</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 slider-top-grids course-item">
        <div class="course-item-img">
            <a href="single.html"><img src="~/Contents/img/g.jpg" /></a>
        </div>
        <div class="course-item-info">
            <h3>
                <a href="single.html" class="title title-info">Hoc laap trinh asp.net mvc 5</a>
            </h3>
            <div class="rating">
                <div class="rate-box">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(564)</span>
                </div>
            </div>
            <ul>
                <li><p class="author author-info"> <i class="fa fa-male"></i><a href="#" class="author">John Maniya</a></p></li>
                <li class="right-list"><p class="views views-info">2,114,200 <i class="fa fa-eye"></i></p></li>
            </ul>
            <div class="course-price saleoff">
                <strike>200.000 ₫</strike>     <span class="price">100.000 ₫</span>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

